 .header{
      width: 100%;
      position: fixed;
      top:0;
      left: 0;
      z-index: var(--z-fixed);
      background-color: var(--container-color);
      padding-top: 5px;
}

.nav{
      height: calc(var(--header-height) + 1.5rem);
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 2rem;
    
}
.nav_logo, .nav_toggle{
      color: var(--title-color);
      font-weight: var(--font-medium);
}
.nav_list{
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 3rem;
}
.nav_link{
      display: flex;
      flex-direction: column;
      align-items: center;
      color: rgb(99, 98, 98);
      font-size: var(--small-font-size);
      /* color: var(--title-color); */
      font-weight: var(--font-medium);
      transition: 0.3s;
}
.nav_icon, .nav_close, .nav_toggle{
      display: none;
}
.nav_close{
      font-size: 1.4rem;
      color: rgb(99,98,98);
}
.nav_toggle{
      font-size: 1.4rem;
}

/* Active Link */
.active-link, .nav-link:hover{
      /* color: var(--title-color-dark); */
      color: rgb(25, 94, 245);
}

/* BreakPoint 768px */
@media screen and (max-width: 768px) {
      .header{
        top: initial;
        bottom: 0;
      }
      .nav{
        height: var(--header-height);
      }
      .nav_menu{
      position: fixed;
      bottom: -100%;
      left: 0;
      width: 100%;
      /* padding: 2rem 1.5rem 4rem; */
      background-color: white;
      box-shadow: 0 -1px 4px rgba(0,0,0,0.15);
      border-radius: 1.5rem 1.5rem 0 0;
      transition: 0.3s;
      }
      /* Show Menu */
      .show-menu{
          bottom: 0;  
      }
      .nav_list{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 2rem;
            padding: 2rem 2rem 3.5rem 2rem;
      }
      .nav_icon{
          font-size: 1.2rem;  
      }
      /* .nav_logo{
            display: none;
      } */
      .nav_close{
            position: absolute;
            right: 1.3rem;
            bottom: 0.5rem;
            font-size: 1.7frem;
            cursor: pointer;
            color: var(--title-color);
      }
      .nav_close:hover{
           color: var(--title-color-dark); 
      }
      .nav_toggle{
            font-size: 1.5rem;
            cursor: pointer;
      }
      .nav_icon, .nav_close, .nav_toggle{
            display: block;
      }
    }
/* ======= for small device ============= */
@media screen and (max-width: 350px) {
  .nav_menu{
      padding: 2rem 0.25rem 2rem;
  }
  .nav_list{
      column-gap: 0;
  }
} 